body {
    background: #f4f4f4;
    font-family: Arial;
}

.chat-container {
    width: 430px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #ccc;
}

#chat-box {
    height: 350px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background: #fafafa;
    margin-bottom: 15px;
}

.user {
    background: #d7ebff;
    text-align: right;
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
}

.bot {
    background: #e8e8e8;
    text-align: left;
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
}

.input-area {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 12px;
    margin-left: 6px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
